<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :simple_annual_interest %><br>
    <%= f.number_field :simple_annual_interest %>
  </div>
  <div class="field">
    <%= f.label :monthly_payments %><br>
    <%= f.number_field :monthly_payments %>
  </div>
  <div class="field">
    <%= f.label :amortized %><br>
    <%= f.number_field :amortized %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
