<p id="notice"><%= notice %></p>

<p>
  <strong>Simple annual interest:</strong>
  <%= @finance.simple_annual_interest %>
</p>

<p>
  <strong>Monthly payments:</strong>
  <%= @finance.monthly_payments %>
</p>

<p>
  <strong>Amortized:</strong>
  <%= @finance.amortized %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
