<%= form_for(@dealership) do |f| %>
  <% if @dealership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealership.errors.count, "error") %> prohibited this dealership from being saved:</h2>

      <ul>
      <% @dealership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_gross_revenue %><br>
    <%= f.number_field :total_gross_revenue %>
  </div>
  <div class="field">
    <%= f.label :net_profit %><br>
    <%= f.number_field :net_profit %>
  </div>
  <div class="field">
    <%= f.label :sales_tax_totals %><br>
    <%= f.number_field :sales_tax_totals %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
