<p id="notice"><%= notice %></p>

<h1>Listing Dealerships</h1>

<table>
  <thead>
    <tr>
      <th>Total gross revenue</th>
      <th>Net profit</th>
      <th>Sales tax totals</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dealerships.each do |dealership| %>
      <tr>
        <td><%= dealership.total_gross_revenue %></td>
        <td><%= dealership.net_profit %></td>
        <td><%= dealership.sales_tax_totals %></td>
        <td><%= link_to 'Show', dealership %></td>
        <td><%= link_to 'Edit', edit_dealership_path(dealership) %></td>
        <td><%= link_to 'Destroy', dealership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dealership', new_dealership_path %>
