<p id="notice"><%= notice %></p>

<p>
  <strong>Total gross revenue:</strong>
  <%= @dealership.total_gross_revenue %>
</p>

<p>
  <strong>Net profit:</strong>
  <%= @dealership.net_profit %>
</p>

<p>
  <strong>Sales tax totals:</strong>
  <%= @dealership.sales_tax_totals %>
</p>

<%= link_to 'Edit', edit_dealership_path(@dealership) %> |
<%= link_to 'Back', dealerships_path %>
