<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :salesperson %><br>
    <%= f.select(:salesperson, ['Aakas Desai', 'Peter Griffin', 'Stewie Griffin', 'Keith Lancaster', 'Kobe Bryant'], {}, {:class => 'Salesperson'}) %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :quote %><br>
    <%= f.number_field :quote %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :vin %><br>
    <%= f.text_field :vin %>
  </div>
  <div class="Status">
    <%= f.label :status %><br>
    <%= f.select(:status, ['Available', 'Pending', 'Sold'], {}, {:class => 'status'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
