<p id="notice"><%= notice %></p>

<h1>Listing Sales</h1>

<table>
  <thead>
    <tr>
      <th>Salesperson</th>
      <th>Customer</th>
      <th>Quote</th>
      <th>Year</th>
      <th>Model</th>
      <th>Color</th>
      <th>VIN</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.salesperson %></td>
        <td><%= sale.customer %></td>
        <td><%= sale.quote %></td>
        <td><%= sale.year %></td>
        <td><%= sale.model %></td>
        <td><%= sale.color %></td>
        <td><%= sale.vin %></td>
        <td><%= sale.status %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
