<p id="notice"><%= notice %></p>

<p>
  <strong>Sales:</strong>
  <%= @sale.sales_id %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @sale.salesperson %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @sale.quote %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sale.year %>
</p>

<p>
  <strong>Model:</strong>
  <%= @sale.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @sale.color %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @sale.vin %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sale.status %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
