<!DOCTYPE html>
<html>
<head>
  <title>Desai Dealership</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header", >

  <h1>Desai Dealership</h1>


  <%= link_to "Dealerships" , dealerships_path%>
  <%= link_to "Inventories" , inventories_path%>
  <%= link_to "Finances" , finances_path%>
  <%= link_to "Sales" , sales_path%>

</div>

<%= yield %>

</body>
</html>
